<% content_for :page_title, "Deploy Tasks" %>

<h1>Deploy Tasks</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Application</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= task.created_at %></td>
      <td><%= link_to task.application.name, controller: "applications", action: "show", id: task.application %></td>
      <td><%= task.version %></td>
    </tr>
  <% end %>
  </tbody>
</table>
