<% if site_settings.status_notes.present? %>
  <div class="global-status-note alert alert-danger" role="alert">
    <p><%= site_settings.status_notes %></p>
  </div>
<% end %>

<% if application.status_notes.present? %>
  <div class="application-status-note alert alert-warning" role="alert">
    <p><%= application.status_notes %></p>
  </div>
<% end %>
