<% if site_settings.status_notes.present? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon govuk-circle" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <span class="global-status-note"><%= site_settings.status_notes %></span>
    </strong>
  </div>
<% end %>

<% if application.status_notes.present? %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon govuk-circle" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      <span class="alert-warning"><%= application.status_notes %></span>
    </strong>
  </div>
<% end %>
