<% content_for :page_title, "Applications" %>

<h1>Applications</h1>

<%= render partial: "applications_table", locals: { applications: @applications, environments: @environments } %>

<% if current_user.may_deploy? %>
  <%= link_to 'Create application', new_application_path, class: "btn btn-success" %>
<% end %>
