<% content_for :page_title, "Applications" %>

<%= render "govuk_publishing_components/components/breadcrumbs", {
  breadcrumbs: [
    root_crumb
  ]
} %>

<h1>Applications</h1>

<%= render partial: "applications_table", locals: { applications: @applications, environments: @environments } %>

<%= link_to 'Create application', new_application_path, class: "btn btn-success" %>
