<% content_for :page_title, "Create new Application" %>

<%= title "Create new Application" %>

<p class="lead">Applications are created automatically when first deployed, but you can create them manually if you like.</p>

<%= render "form", application: @application %>
