<% content_for :page_title, "Create new Application" %>

<h1>Create new Application</h1>
<p>Applications are created automatically when first deployed, but you can create them manually if you like.</p>

<%= render partial: "form", locals: { application: @application } %>
