# Copy this file to "campfire_credentials.rb" and overwrite the API key
# with the values from alphagov-deployment.
#
# Don't commit (publish) credentials to Github!
#
CAMPFIRE_CREDENTIALS = {
  room_id: 497718,
  subdomain: "govuk",
  api_key: ""
}