# Copy this file to "github_credentials.rb" and overwrite the development username and password
# with the values from alphagov-deployment.
#
# It is very important that we don't commit (publish) credentials to Git(Hub).
#
GITHUB_CREDENTIALS = { username: "", oauth_token: "" }
