<div class="release__application-header">
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [ root_crumb, { title: application.name, } ]
  } %>

  <%= render "govuk_publishing_components/components/heading", {
    text: "#{application.name}",
    context: application.shortname,
    margin_bottom: 2,
    font_size: "xl",
    heading_level: 1
  } %>

  <%= render partial: "shared/badges", locals: { application: application } %>
</div>

<%= render "govuk_publishing_components/components/tabs", {
  as_links: true,
  tabs: [
    {
      href: application,
      label: "Deploy status",
      active: tab == "status",
    },
    {
      href: edit_application_path(application),
      label: "Edit",
      active: tab == "edit",
    },
    {
      href: application_deployments_path(application),
      label: "Recent deployments",
      active: tab == "deploys",
    },
    {
      href: stats_application_path(application),
      label: "Stats",
      active: tab == "stats",
    }
  ]
} %>
