<% if application.deploy_freeze? %>
  <span class="release__badge release__badge--red">Automatic deployments disabled</span>
<% end %>

<% unless application.cd_enabled? %>
  <span class="release__badge release__badge--orange">Manually deployed</span>
<% end %>

<% if application.deployed_to_ec2? %>
  <span class="release__badge release__badge--red">Not migrated to EKS</span>
<% end %>
