$govuk-typography-use-rem: false;

@import "govuk_publishing_components/all_components";
@import "activity";
@import "tables";

.js-hidden {
  display: none;
}

// Override for header component, as the number of links means they don't fit when floating right
.gem-c-header__content {
  float: none;
}

// Add some table overrides to prevent overflow
.release__applications-table .gem-c-table {
  @include govuk-font(16);
  width: 100%;
  display: block;
  overflow: scroll;
}

.release__application-header {
  margin-bottom: govuk-spacing(9);
}

.release__stats {
  margin-top: govuk-spacing(6);
}

.release__badge {
  @include govuk-font(14, $weight: "bold");
  background-color:  govuk-colour("light-blue");
  padding: 3px 5px;
  border-radius: 20px;
  color: govuk-colour("white");
  white-space: nowrap;
  display: inline-block;
  margin-bottom: govuk-spacing(1);
}

.release__badge--orange {
  background-color: govuk-colour("orange");
}

.release__badge--red {
  background-color: govuk-colour("red");
}

.release__view-diff {
  float: right;
}

.release__non-production-banner {
  @include govuk-font(16);
  margin: govuk-spacing(3);
  margin-top: 0;
  padding: govuk-spacing(3);
  border: 1px solid $govuk-border-colour;
  background-color: govuk-colour('red');
  color: govuk-colour('white');
  font-weight: bold;

  .govuk-link {
    color: govuk-colour('white');
  }
}
