@import "govuk_admin_template";
@import 'bootstrap-datetimepicker';
@import 'typeahead';

@import "activity";
@import "forms";
@import "tables";
@import "tabs";

h1 span.shortname {
  font-family: monospace;
  font-size: 0.8em;
  color: #aaa;
}

h1 {
  line-height: 46px;
  margin: 22px 0;
}

.author {
  @extend .text-muted;
  padding-left: 1em;
}

table.commits td.hash,
.commit-hash {
  font-family: monospace;
}

.deployment {
  margin: 0 0 10px 0;

  .env {
    min-width: 8em;
  }

  time {
    // to match `.label`
    font-size: 75%;
  }

  &.production {
    .env {
      background: $production-color
    }
  }
}

.release-tag  {
  &.label a {
    color: #fff;
  }
}

.alert-alert {
  @extend .alert-info;
}
.alert-error {
  @extend .alert-danger;
}
.alert-notice {
  @extend .alert-success;
}
