/*
 *= require bootstrap_and_overrides
 *= require formtastic-bootstrap
 *= require bootstrap-datetimepicker.min
 *= require_tree .
 */

h1 span.shortname {
  font-family: monospace;
  font-size: 0.8em;
  color: #aaa;
}
