table#application-list {
  thead {
    tr {
      th {
        cursor: pointer;

        &.header {
          padding-right: 20px;
          background: url(asset-path('bg.gif')) no-repeat right;

          &.headerSortUp {
            background: url(asset-path('asc.gif')) no-repeat right;
          }

          &.headerSortDown {
            background: url(asset-path('desc.gif')) no-repeat right;
          }
        }
      }
    }
  }
  tbody {
    tr {
      td {
        &.application-status {
          color: white;
        }
        &.application-status-all_environments_match {
          background-color: #468847;
        }
        &.application-status-undeployed_changes_in_integration {
          background-color: #d95f0e;
        }
        &.application-status-production_and_staging_not_in_sync {
          background-color: #b94a48;
        }
        &.deployed-recently {
          background-color: #fcfcbc;
        }
        &.notes {
          width: 320px;
        }
      }
    }
  }
}
