<% content_for :page_title, "Releases" %>

<h1>Releases</h1>

<p><%= link_to "Create Release", new_release_path, class: "btn btn-success" %></p>

<table class="table">
  <tbody>
  <% @releases.each do |release| %>
    <tr>
      <td><%= link_to release.applications.map(&:name).join(", "), release_path(release) %></td>
      <td><%= release.created_at.strftime('%l:%M%P - %A %e %B') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
