<% content_for :page_title, "Deployment activity" %>

<section>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: "Recent deployments"
      }
    ]
  } %>
  <h1>Recent deployments</h1>

  <%= render "deployments_list", deploys: @deployments %>
</section>
