<% content_for :page_title, "Deployment activity" %>

<section>
  <%= render "govuk_publishing_components/components/breadcrumbs", {
    breadcrumbs: [
      {
        title: "Recent deployments"
      }
    ]
  } %>

<%= render "govuk_publishing_components/components/title", {
  title: "Recent deployments"
} %>

  <%= render "deployments_list", deploys: @deployments %>
</section>
